__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

.DS_Store
.idea/
.vscode/

data/raw/**/*.jpg
data/raw/**/*.jpeg
data/raw/**/*.png
data/raw/**/*.bmp
data/raw/**/*.gif
data/raw/**/*.webp
models/*.joblib
